
body{
    background-color: #fff;
}

.developers{
    padding-left: 250px;
}

.map-control {
       width: 100%;
       height: 70vh;
       margin-right: 40px;
      }

figure {
        width: 30%;
        text-align: center;
        font-style: italic;
        font-size: smaller;
        text-indent: 0;
        border: thin silver solid;
        margin: 0.5em;
        padding: 0.5em;
      }

img.scaled {
    width: 100%;
}

.introBox{
    width: 100%;
    background-color: #bbbbbb;
    height: 150px;
    overflow: auto;
    box-shadow: 1px 1px 5px black;
}      

.intro{
    font-family: 'Timmana', sans-serif;
    font-size: 18px;
    margin-top: 39px;
    color: #fee608;
    text-shadow: 1px 1px black;
    width: 79%;
}  

.devImage{
    width: 150px;
    height: 150px;
}
.full-width {
 padding-left: 0;
 padding-right: 0;
}

header { 
 width: 100%;
 height: 70vh;
 font-family: 'Kavivanar', sans-serif;
}
.parallax {
  background: url('../images/header1.png') no-repeat 50% 50%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

footer {
    height: 70px;
    border-top: 2px solid #fff;
    background-color: #000;
}

.frontEnd {
    background-color: #eee;
}

.aboutUs {
    margin-top: 2em;
    padding: 2em;
}


.copyright {
    top: 20px;
    color: #fff;
}

.about-pic {
    width: 200px;
    height: 250px;
}

.navbar	{
	text-align: center;
	background-color: #fff;
	z-index: 1;
}

.navbar ul {
}

.navbar ul li{
 list-style-type: none;
 margin: 0 5em;
 float: left;
 font-size: 1em;
}

.navbar a {
    color: #000;
}

.navbar img {
	width: 150px;
	height: 40px;
	float: left;
}


<<<<<<< HEAD

.bar-container {
    margin-left: 25%;
}



#bar-pic {
    width: 100px;
    height: 90px;
    background-image: url("https://s3-media4.fl.yelpcdn.com/bphoto/--8oiPVp0AsjoWHqaY1rDQ/o.jpg");
    margin-right: 25px;
}

#bar-status {
    color: #000;
    height: 50px;
}

.view-more    {
    float: right;
}

.cost    {
    margin-right: 15px;
}

.quick-view {
    margin-top: 2em;
}

.bar-quick-view {
    background-color: #fff;
}

.barSection {
    padding: 5px;
    border: solid #000 2px;
    margin-bottom: 15px;
}

body {
    overflow-x: hidden;
 }
 
 #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
 }
 
 #wrapper.toggled {
    padding-left: 250px;
 }
 
 #sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
 }
 
 #wrapper.toggled #sidebar-wrapper {
    width: 250px;
 }
 
 #page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
 }
 
 #wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
 }

 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 5em;
    width: 80%; /* Full width */
    height: 80%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    border: 2px solid #000;
    background-color: #fff; /* Fallback color */

}


	/* Modal Content/Box */
.modal-content {
    background-color: #000;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 2px solid #000;
    width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content label {
	color: #fff;
	margin-left: .5em;
}

.modal-content form {
	text-align: center;
	margin: auto;
}

.modal-content input {
	margin-left: 1em;
}

.modal-header {
    color: #fff;
    background-color: #000;
}

#bar-name {
    text-align: center;
}

.info-heading {
	color: #fff;
	margin-top: 1.5em;
}

.bar-info {
    background-color: #eee;
    padding-top: 2em;
    margin-top: 2em;
}

.submit-button {
    text-align: center;
}

#submit {
    background-color: #000;
    font-size: 16px;
    width: 50%;
    height: 40px;
    color: #fff;
    border: 2px solid #000;
}

#submit:hover {
    background-color: #fff;
    width: 60%;
    font-size: 20px;
    height: 45px;
    transition: .5s;
    color: #000;
    border: 2px solid #000;
}

/* The Close Button */
.close {
    color: #fff;
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
 
 /* Sidebar Styles */
 
 
/*------------------------------------------------------------------*/
@media only screen and (max-width: 980px) {
    .bar-quick-view {
        margin-top: 2em;
    }